* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(135deg, #667eea, #764ba2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", sans-serif;
}

.app {
  background: white;
  width: 500px;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25);
}

/* Header */
h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* Input */
input {
  width: 340px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
}

input:focus {
  border-color: #667eea;
}

/* Main add button */
button {
  margin-top: 10px;
  margin-left: 10px;
  width: 100px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background: #667eea;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s ease;
}



.list {
  margin-top: 10px;
  display: grid;
  grid-auto-rows: min-content;
  gap: 8px;
}

.check-mark {
  position: absolute;
  left: 10px;
  color: #38a169;
  font-weight: bold;
  animation: checkPop 0.25s ease-out;
}


.delete-btn {
  background: #e53e3e;
}

.check-btn {
  background: green;
}

.edit-btn:hover {
  background: #2435ce;
}

.delete-btn:hover {
  background: darkred;
}

.check-btn:hover {
  background: lightgreen;
}

.task-text {
  flex: 1;
}

.todo {
  position: relative;
  flex: 1;
  background: #f7f7f7;
  padding: 10px 10px 10px 32px;
  border-radius: 6px;
  display: flex;
  align-items: center;

  animation: popIn 0.3s ease-out;
}

.todo span {
  cursor: pointer;
  flex: 1;
  animation: fadeText 0.4s ease;
}

/* Item buttons */
.todo button {
  width: auto;
  margin-left: 5px;
  padding: 5px 8px;
  background: #e53e3e;
}

.todo button:first-of-type {
  background: #38a169;
}

.todo button:hover {
  opacity: 0.9;
}

.todo-row {
  display: flex;
  align-items: center;
  gap: 8px;
}

.actions {
  display: flex;
  gap: 6px;
}

.actions button {
  width: auto;
  padding: 6px 8px;
  margin: 0;
  font-size: 12px;
}

/* animations begin from here*/
@keyframes checkPop {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  70% {
    transform: scale(1.5);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes popIn {
  0% {
    transform: scale(0.85);
    opacity: 0;
  }
  60% {
    transform: scale(1.05);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

